*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
body {
  margin: 0px;
  height: auto;
}
.main {
  max-width: 1400px;
  min-width: 375px;
  margin: auto;  
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1;
}
.header{
  height: 12vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.menu{
  display: none;
}
.digitalBanking{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digitalBankingImage{
  background-image: url("images/bg-intro-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.mockups-image{
  width: 94%;
  margin-top: -34%
}
.header div{
  display: flex;
  justify-content: space-between;
  width: 89%;
}

.digitalBankingSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 89%;
  margin: auto;
}
.digitalBankingSection h1{
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--Dark-Blue);
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 1rem;;
}
.digitalBankingSection p, .easyBankServicesHeader p, .service p{
  font-size: 15px;
  color: var(--Grayish-Blue);
  font-weight: 500;
  text-align: center;
  line-height: 1.5rem;
  margin: 1rem;
}


.button button{
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-width: 0;
  color: var(--White);
  width: 9rem;
  height: 2.5rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 4rem;;
}
.easyBankServices{
  background-color: var(--Light-Grayish-Blue);
}
.easyBankServicesHeader h2, .articleHeader h2{
  color: var(--Dark-Blue);
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-top: 4rem;
}
.easyBankServicesHeader{
  width: 89%;
  margin: auto;
}
.services{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service{
  margin-bottom: 2rem;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 89%;
}
.service div{
  margin-bottom: 1rem;
}
.service h5{
  color: var(--Dark-Blue);
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.latestArticles{
  background-color: var(--Very-Light-Gray);
}
.articlesSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.article{
  background-color: var(--White);
  width: 89%;
  margin-bottom: 1.5rem;
}
.articleImageContainer{
  width: 100%;
}
.articleImage{
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.articleDetails{
  padding: 2rem;
}

.articleDetails p:nth-child(1){
  font-size: 10px;
  color: var(--Grayish-Blue);
  margin-bottom: 1rem;
}
.articleDetails h5{
  color: var(--Dark-Blue);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.articleDetails p:nth-child(3){
  font-size: 13px;
  color: var(--Grayish-Blue);
  line-height: 1rem;
  margin-bottom: 1rem;
}
.footer{
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.socialMediaInfo{
 display: flex;
 justify-content: space-between;

  
}
.socialMediaInfo img{
  width: 15%;
  margin-right: 0.75rem;
}
.footerLogo{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.info li{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--White)
}
.button {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 376px){
  .menu{
    display: flex;
  }
 .main{
  overflow: visible;
 }
  .menu li{
    margin-right: 1rem;
    margin-left: 1rem;
    color: var(--Grayish-Blue);
    font-size: 15px;
  }
  .header{
    height: 12vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .digitalBanking{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 8rem;
    width: 100%;
  }
  .digitalBankingImage{
    background-image: url("images/bg-intro-desktop.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    width: 50%;
  }
  .digitalBankingSection h1{
    text-align: left;
    width: 80%;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
  }
  .digitalBankingSection p{
    width: 80%;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .mockups-image{
    width: 100%;
    margin-top: -18%;
    margin-right: -32%;
  }

  .digitalBankingSection{
    width: 50vw;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 
  }
  
  .easyBankServices{
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-right: 8rem;
    width: 100%;
    overflow: visible;
    overflow: auto;
    margin-top: -5%;
    overflow: visible;
  }
  .services{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
  }
  .service{
    align-items: flex-start;
    width: 60%;
    margin-right: 3rem;
  }
  .service div, .service h5{
    margin-bottom: 1.5rem;
    text-align: left;
  }
  .easyBankServicesHeader{
    width: 96%;
    margin: 0;
    margin-bottom: 3rem;
  }
  .easyBankServicesHeader h2{
    width: 60%;
    font-size: 35px;
    margin-bottom: 1.5rem;
  }
  .easyBankServicesHeader p{
    width: 60%;
    font-size: 16px;
  }
  .easyBankServicesHeader h2, .easyBankServicesHeader p{
    text-align: left;
  }
  .service p{
    text-align: left;
  }
  .latestArticles{
    display: flex;
    flex-direction: column;
    padding: 6rem 8rem 6rem 8rem;
    overflow-y: auto;
  }
  .articlesSection{
    display: flex;
    flex-direction: row;
  }
  .article{
    height: 50%;
    margin-right: 2rem;
    overflow-y: auto;
  }
  .articleHeader h2 {
    text-align: left;
    margin-bottom: 2rem;

  }
  .articleImageContainer{
    width: 100%;
  }
  .articleImage{
    height: 30vh;
    width: 100%;
  }.articleDetails{
    height: 50vh;
  }
  .articleDetails p{
    margin-bottom: 1rem;
    overflow-y: scroll;
  }
  .articleDetails h5{
    margin-bottom: 1rem;
  }
  
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }.contactUs{
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
  }
  .footer-info{
    margin-right: 8rem;
  }
  .contactUs ul{
    margin-right: 3rem;
    color: var(--White)

  }
  .socialMediaInfo{
    margin-top: 2rem;
  }

  .info li{
    margin-bottom: 0.5rem;
  }
}

